@model IEnumerable<category>
@{
    ViewData["Title"] = "Index";
}


<div class="container p-3">
    <div class="row p-4">
        <div class="col-6">
            <h2 class="text-body-secondary">Lista zgłoszeń</h2>

        </div>

        <div class="col-6 text-end">
            <a asp-controller="category" asp-action="Create" class="btn btn-success">
                <i class="bi bi-file-earmark-plus"></i> &nbsp; Dodaj nowe zgłoszenie
            </a>

        </div>

    </div>
</div>


<table class="table table-bordered table-striped" style="width:100%">
    
    <thead>
        <th>
            Nazwa błędu
        </th>
        <th>
            Opis błędu
        </th>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <thead>
                <th width="30%">
                    @obj.Name
                </th>
                <th width="70%">
                    @obj.Description
                </th>
            </thead> 
        }
    </tbody>
</table>
