@model IEnumerable<category>
@{
    ViewData["Title"] = "Index";
}


<div class="container p-3">
    <div class="row p-4">
        <div class="col-6">
            <h2 class="text-body-secondary">Lista zgłoszeń</h2>

        </div>

        <div class="col-6 text-end">
            <a asp-controller="category" asp-action="Create" class="btn btn-success">
                <i class="bi bi-file-earmark-plus"></i> &nbsp; Dodaj nowe zgłoszenie
            </a>

        </div>

    </div>
</div>


<table class="table table-bordered table-striped" style="width:100%">
    
    <thead>
        <tr>
            <th>
                Nazwa błędu
            </th>
            <th>
                Opis błędu
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="20%">
                    @obj.Name
                </td>
                <td width="65%">
                    @obj.Description
                </td>
                <td width="15%" align="center"> 
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="category" asp-action="Edit" asp-route-id="@obj.Id"
                           class="btn btn-warning"> Edycja<i class="bi bi-pencil"></i></a>
                    </div>
                </td>
            </tr> 
        }
    </tbody>
</table>
