@{
    ViewData["Title"] = "Home Page";
}

<div class="main-container">
    <h1 class="display-4">WELCOME TO NMS</h1>
    <p>HERE BELOW IS INSTRUCTION ABOUT SYSTEM</p>

    <p>Witaj w systemie zarządzającym zgłoszeniami i błędami. Aplikacja jest obecnie w wersji 0.0.0.1.</p>
    <p>W obecnej fazie projektu jest formularz dodający błędy do bazy danych oraz formularz dodający użytkowników. Zarówno lista błędów jak i użytkowników można edytować. Usuwać można jedynie błędy, użytkowników nie można usuwać. Użytkownicy administracyjni mają uprawnienia do dodawania i edytowania nowych użytkowników.</p>

</div>
